<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @race.office %>
</p>

<p>
  <strong>Votedate:</strong>
  <%= @race.votedate %>
</p>

<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>
