<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @state.title %>
</p>

<p>
  <strong>Abbreviation:</strong>
  <%= @state.abbreviation %>
</p>

<p>
  <strong>Districtcount:</strong>
  <%= @state.districtcount %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
